body{
    font-family: 'Asap', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

header{
    background-color: #92B4EC;
    color: #FFFFFF;
    z-index: 9999;
}

h1.title{
    padding-left: 5rem;
}

header .headear-content{
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    align-items: center;
    justify-content:space-between;
}

ul.navigation-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-inline: auto;
    gap: 1.4rem;
    
}

ul.navigation-list li{
    list-style-type: none;
}

ul.navigation-list li a{
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    border-radius: 999px;
    transition: all 0.2s ease-in-out;
    color: #FFFFFF;
}

ul.navigation-list li a:hover{
    background-color: #FFFFFF;
    color: #92B4EC;
}

.profile article.profile-article{
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    justify-content: space-around;
    align-items: center;
    margin-inline: auto;
    gap: 1rem;
    padding-top: 1rem;
    margin-bottom: 20px;
}

.profile article.profile-article .profile-detail{
    background-color: #92B4EC;
    border-radius: 20px;
    padding: 3rem;
    color: #FFFFFF;
}

.profile article.profile-article .image-profile{
    background-color: #92B4EC;
    box-sizing: content-box;
    border-radius: 999px;
}

.profile article.profile-article .image-profile img{
    height: 400px;
    border-radius: 999px;
}

.content .project {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-inline: auto;
    max-width: 1200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    flex-direction: column;
}


.content .project .title{
    margin-inline: auto;
}

.project article{
    margin-bottom: 20px;
}

.project .img-section{
    display: flex;
    align-items: center;
    margin-inline: auto;
}

.project .img-section div{
    width: 50px;
}

.project .img-section div.back{
    transform: scaleX(-1);
}

.project .img-section img{
    width: 800px;
    margin-left: 3rem;
    margin-right: 3rem;
}


.achievement img{
    width: 800px;
}

.achievement {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-inline: auto;
    max-width: 1200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    flex-direction: column;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.content .achievement .title{
    margin-inline: auto;
}

.achievement article{
    margin-bottom: 20px;
}

main aside {
    position: fixed;
    inset-block: 0;
    inset-inline-end: 0;
    /* margin: 50%; */
    /* position: absolute;
    margin: auto;
    align-items: center;
    justify-content: center; */
}
main aside .social-media-icon {
    height: 100%;
    display: flex;
}

main aside .social-media-icon ul {
    width: 3rem;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #92B4EC;
    padding: 1.5rem 1rem;
    flex-flow: column nowrap;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    gap: 1.5rem;
}

main aside .social-media-icon ul li{
    list-style-type: none;
}

main aside .social-media-icon ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    transition: all 0.1s ease-in-out;
}

.img-section div.next div.back{
    background-color: blue;
}
